html {
  width: 100%;
  height: 100%; }

body {
  background-color: #f8f9fa;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../data/rover-landscape.jpg") no-repeat bottom center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .masthead .intro-body .brand-heading {
      font-size: 50px; }
    .masthead .intro-body .intro-text {
      font-size: 18px; }
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding: 0; }
      .masthead .intro-body .brand-heading {
        font-size: 100px; }
      .masthead .intro-body .intro-text {
        font-size: 22px; } }

.btn {
  white-space: normal;
  height: 100%;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.bg-light-transparent {
  background-color: #f8f9fa;
  background-color: rgba(255, 255, 255, 0.85);
}

.navbar {
  padding: .25rem .25rem;
}

#main {
  padding-top: 68px;
}

#content {
  min-height: calc(100vh - 128px);
  padding: 30px 20px;
}

@media screen and (min-width: 768px) {
  .btn {
    border-radius: 0.7rem;
    font-size: 1.05rem;
  }
  .masthead {
      height: 100%;
      padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
    float:none;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }

  .btn {
    font-size: 1.5rem;
    border-radius: 0.7rem;
  }
}


@media screen and (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
}

/*.btn-block {
  margin-top: 2rem !important;
}*/

.btn-space {
  margin-top: 1rem;
}

.btn-primary {
  background-color: #ffee58;
  border-color: #ffee58;
  color: #000;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
  background-color: #fff9cc;
  border-color: #fff9cc;
  color: #000;
}

.jumbotron {
  background-color: #f2f2f2;
}

.main-spacer {
  margin-top: 20%;
}

.p-spacer {
  margin-top: 3rem;
}


/*image header*/
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

.h1, h1 {
  color: #4F4F4F;
  font-size: 3rem;
  /*padding-bottom: 1rem;
  padding-top: 1rem;*/
}

.h2, h2 {
  color: #4F4F4F;
  font-size: 2rem;
}

h3 {
  color: #4F4F4F;
  font-size: 1.5rem;
  padding-top: 1rem;
}

h4 {
  color: #4F4F4F;
  font-size: 2rem;
  padding-top: 1rem;
}

.tagline {
  color: #f2f2f2;
  font-size: 5rem;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

p, a {
  color: #333333;
}

p {
  font-size: 1.2rem;
  word-wrap: break-word;
}

.spacer {
  padding-top: 5rem;
}

p > a {
  color: red;
}

.image-header-text {
  color: #000;
}

.accent {
  margin-top: 2rem;
  padding: 1rem;
}

div > img {
  height: 100%;
}

.img-fluid {
    max-width: 85%;
}

  .btn-xl {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 3px;
    color: white;
    border-color: #fed136;
    background-color: #fed136;
    text-transform: uppercase; }
    .btn-xl.focus, .btn-xl:focus {
      color: white;
      border-color: #b48b01;
      background-color: #fec503; }
    .btn-xl:hover {
      color: white;
      border-color: #f6bf01;
      background-color: #fec503; }
    .btn-xl.active, .btn-xl:active,
    .open > .btn-xl.dropdown-toggle {
      color: white;
      border-color: #f6bf01;
      background-color: #fec503; }
      .btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover,
      .open > .btn-xl.dropdown-toggle.focus,
      .open > .btn-xl.dropdown-toggle:focus,
      .open > .btn-xl.dropdown-toggle:hover {
        color: white;
        border-color: #b48b01;
        background-color: #dcab01; }
    .btn-xl.active, .btn-xl:active,
    .open > .btn-xl.dropdown-toggle {
      background-image: none; }
    .btn-xl.disabled.focus, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled].focus, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
    fieldset[disabled] .btn-xl.focus,
    fieldset[disabled] .btn-xl:focus,
    fieldset[disabled] .btn-xl:hover {
      border-color: #fed136;
      background-color: #fed136; }
    .btn-xl .badge {
      color: #fed136;
      background-color: white; }

/*end of copypasta from Agency*/

#contact > header {
  padding-bottom: 2rem;
}
